
:root{
    --yellow:black;
}

*{
	scroll-behavior: smooth;	
}
*::selection{
    background: var(--yellow);
    color: #fff;
}

html{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 0.9rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}

ul {
	list-style-type: none;
}

.nav-link {
	color: #fff !important;
	padding-right: 20px !important;
}


.navbar {
	min-height: 10vh !important;
}


section {
	min-height: 100vh;
}

section .inner {
	padding-top: 10vh !important;
}

#home h1,
#about h1,
#education h1,
#hobbies h1,
#skills h1,
#contact h1{
	font-size: 42px;
}

#home {
	background-color: #77d8d8;
}

#home h1{
	font-size: 3.5rem;
}

#home img{
	width: 250px;
	height: auto;
}

#education img,
#hobbies img,
#contact img{
	width: 100px;
	height: auto;
}

#about
#hobbies
#contact{
	background-color: rgb(76, 187, 185);
}

#about p{
	font-size: 28px;
	line-height: 50px;
}

#skills {
	background-image: ;
	background-size: cover;
}

#skills .cover{
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	min-height: 100vh;
}

#skills li,
#contact p{
	font-size: 26px;
}

@media (min-width:  320px) and (max-width:  667px){
	#skills li,
	#contact h3{
		font-size: 18px;
	}

	#home img {
		width: 150px;
		height: 150px;
	}

	#education img,
	#hobbies img,
	#contact img {
		width: 50px;
		height: auto;
	}

	#about p{
		font-size: 15px;
		line-height: 25px;
	}
}


#button{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
    border: 1px #000 solid;
}
#button:hover{
    background-color: #db0f0f;
}